# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

*.plg
*.exp
*.idb
*.suo

cl_dll/Release/
cl_dll/Debug/
cl_dll/.vs/
dlls/debughl/
dlls/Releasehl/
.vs/
projects/.vs/
cl_dll/Release/client.exp
projects/build/
projects/out/
cl_dll/out/
dlls/out/
